$global-color: #676a6c;
$backdrop-color: #f3f3f4;

$color-primary: #577575;
$color-primary-lighter: #84a4a4;//lighten($color-primary, 5%);
$color-primary-darker: #2c4949;

$color-accent-lighter: #ff6e77;
$color-accent: #fd324b;
$color-accent-darker: #c20023;

$color-warn: #f44336;
$color-warn-lighter: lighten($color-warn,35%);