// @include font-face($raleway,"/assets/fonts/Raleway/Raleway-Medium", 400, normal, ttf);

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    // -webkit-perspective: 1000;
    // @extend .scrollbar;
}

html, body {
    height: 100%;
    font-size: 14px;
    color: $global-color;
}

body, caption, th, td, textarea, select, option, legend, fieldset {
    font-size-adjust: 0.5;
    &:focus{
        outline: none;
    }
}

body {
    font-family: $font-primary;
    line-height: 1.5;
    @extend .scrollbar;
}

* {
    @extend .scrollbar;
}

